@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 99.1% 0.01 88.2;
    --foreground: 14.1% 0.004 285.8;
    --card: 100% 0 0;
    --card-foreground: 14.1% 0.004 285.8;
    --popover: 100% 0 0;
    --popover-foreground: 14.1% 0.004 285.8;
    --primary: 68.1% 0.055 152.4;
    --primary-foreground: 98.5% 0 0;
    --brand-primary: 47.7% 0.084 220.9;
    --secondary: 96.8% 0.001 286.4;
    --secondary-foreground: 21% 0.006 285.9;
    --brand-secondary: 68.1% 0.055 152.4;
    --brand-tertiary: 78.8% 0.159 77.4;
    --brand-quaternary: 70.2% 0.158 57.1;
    --muted: 96.8% 0.001 286.4;
    --muted-foreground: 55.2% 0.014 285.9;
    --accent: 96.8% 0.001 286.4;
    --accent-foreground: 21% 0.006 285.9;
    --destructive: 57.7% 0.215 27.3;
    --destructive-foreground: 98.5% 0 0;
    --border: 92% 0.004 286.3;
    --input: 92% 0.004 286.3;
    --ring: 71.2% 0.013 286.1;
    --radius: 0.5rem;
  }

  .dark {
    --background: 14.1% 0.004 285.8;
    --foreground: 99.1% 0.01 88.2;
    --card: 14.1% 0.004 285.8;
    --card-foreground: 98.5% 0 0;
    --popover: 14.1% 0.004 285.8;
    --popover-foreground: 98.5% 0 0;
    --primary: 98.5% 0 0;
    --primary-foreground: 21% 0.006 285.9;
    --secondary: 27.4% 0.005 286;
    --secondary-foreground: 98.5% 0 0;
    --muted: 27.4% 0.005 286;
    --muted-foreground: 71.2% 0.013 286.1;
    --accent: 27.4% 0.005 286;
    --accent-foreground: 98.5% 0 0;
    --destructive: 39.6% 0.133 25.7;
    --destructive-foreground: 97.1% 0.013 17.4;
    --border: 27.4% 0.005 286;
    --input: 27.4% 0.005 286;
    --ring: 87.1% 0.005 286.3;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight md:text-5xl lg:text-6xl;
  }

  h2 {
    @apply scroll-m-20 text-3xl font-bold tracking-tight md:text-4xl lg:text-5xl;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight md:text-3xl lg:text-4xl;
  }

  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight md:text-2xl lg:text-3xl;
  }

  h5 {
    @apply scroll-m-20 text-lg font-semibold tracking-tight md:text-xl lg:text-2xl;
  }

  h6 {
    @apply scroll-m-20 text-base font-semibold tracking-tight md:text-lg lg:text-xl;
  }

  /* RICHTEXT STYLE OVERRIDES */

  .cms-html a {
    @apply font-semibold text-brandPrimary hover:underline;
  }

  .cms-html ul {
    @apply list-inside list-disc pl-2 sm:pl-4;
  }
}
